Alias /ganglia /usr/share/ganglia

<Directory "/usr/share/ganglia">
    Options FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

<Directory "/usr/share/ganglia/js">
    Options FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>

<Directory "/usr/share/ganglia/images">
    Options FollowSymLinks
    AllowOverride None
    Require all granted
</Directory>
